
body {
    background-color: #CCCCCC;
}

#main {
    width: 75%;
    background-color: #F0F0F0;
    margin: 0 auto;
}
.shop-listing {
    min-height: 800px;
}

.shop {
    border: 1px solid red;
    min-height: 220px;
}

.shop-img {
    width: 250px;
    float: left;
}
.shop-details {

float: right;
    width: 720px;
    /* width: 800px; */
    border: 1px solid pink;
}

.shop-front-img {
    border: springgreen 1px solid;
    width: 250px;
    height: 200px;
}